---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import { about } from "@static/images";
import { About as AboutModule} from "@modules/About";
import { Footer } from "@modules/Footer";
---

<Layout
    title="SWITECHAI | About"
    description="Custom secure software development that accelerates business growth through modern digital transformation. Build reliable, scalable solutions."
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:visible
            data={{
                image: about.src,
                content: {
                    title: "About",
                    paragraph:
                        ".",
                },
            }}
        />

        <AboutModule client:load />
    </main>
    <Footer />
</Layout>
