---
import { contact } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
---

<Layout
    title="SWITECHAI | Contact"
    description="Custom secure software development that accelerates business growth through modern digital transformation. Build reliable, scalable solutions."
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:load
            data={{
                image: contact.src,
                content: {
                    title: "Contact",
                    paragraph:
                        "Get stuck or need help?",
                },
            }}
        />
        <ContactModule client:load />
    </main>
    <Footer />
</Layout>
