---
import { contact } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { FAQ } from "@modules/FAQ";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
---

<Layout
    title="SWITECHAI | FAQ"
    description="Custom secure software development that accelerates business growth through modern digital transformation. Build reliable, scalable solutions."
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:load
            data={{
                image: contact.src,
                content: {
                    title: "FAQ",
                    paragraph:
                        "Get stuck or need help? Contact us and we will help you out!",
                },
            }}
        />
        <FAQ client:load />
    </main>
    <Footer />
</Layout>