---
import { faq } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { FAQ as FaqModule } from "@modules/FAQ";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
---

<Layout
    title="SWITECHAI | FAQ"
    description="Custom secure software development that accelerates business growth through modern digital transformation. Build reliable, scalable solutions."
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:load
            data={{
                image: faq.src,
                content: {
                    title: "FAQ",
                    paragraph:
                        "Quick answers to help you get started!",
                },
            }}
        />
        <FaqModule client:load />
    </main>
    <Footer />
</Layout>