---
import world from "../static/images/world.jpg";
import hand from "../static/images/hand.jpg";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout title="SWITECHAI" description="Custom software solutions.">
  <main class="page-content">
    <Hero
      client:load
      heroType="fullPageSlider"
      data={[
        {
          subtitle: "Be Safe, Be Secure, Be Cybernetic",
          title: "Secure Solutions.",
          background: hand.src,
          paragraph: "",
          button: {
            text: "Take a look",
            link: "/services",
          },
        },
        {
          subtitle: "We provide the solutions, you accomplish the goals.",
          title: "Custom Software",
          background: world.src,
          paragraph:
            "We design, build, and secure intelligent software for businesses. By combining cybersecurity with AI-powered automation, we create systems that can act, adapt, and scale without compromising security.",
          button: {
            text: "Learn more.",
            link: "/services",
          },
        },
      ]}
    />
  </main>
</Layout>
