---
import world from "../static/images/world.jpg";
import hand from "../static/images/hand.jpg";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout title="SWITECHAI" description="Custom software solutions.">
  <main class="page-content">
    <Hero
      client:load
      heroType="fullPageSlider"
      data={[
        {
          subtitle: "Be Safe, Be Secure, Be Cybernetic",
          title: "Secure Solutions.",
          background: hand.src,
          paragraph: "",
          button: {
            text: "Take a look",
            link: "/services",
          },
        },
        {
          subtitle: "We provide the solutions, you accomplish goals.",
          title: "Custom Software",
          background: world.src,
          paragraph:
            "We build software uniquely tailored for your business—with a living roadmap that launches in weeks, adapts based on real‑world use, and evolves as your needs grow, so your tools feel as natural and flexible as your everyday workflow.",
          button: {
            text: "Learn more.",
            link: "https://www.switechai.com/about",
          },
        },
      ]}
    />
  </main>
</Layout>
