---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import { serviceBgn, InfiniteImg1 } from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
import { Footer } from "@modules/Footer";
---

<Layout
    title="SWITECHAI | Homepage"
    description="Custom secure software development that accelerates business growth through modern digital transformation. Build reliable, scalable solutions."
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:visible
            data={{
                image: serviceBgn.src,
                content: {
                    title: "SERVICES",
                    paragraph:
                        "Comprehensive Services to Empower Your Business",
                },
            }}
        />
        <ServiceCards
         
            title="Customized Solutions for Every Challenge"
            client:visible
            cards={[
                {
                    title: "Custom Website Development.",
                    description:
                        "Unique website that represents your whole business including pages such as: Home, About, Services, Contact, Portfolio, and more. Designed and developed fully from scratch without limiting templates or platforms.",
                },
                {
                    title: "Web Applications.",
                    description:
                        "We create interactive web-based tools and platforms that go beyond traditional websites, like booking systems, dashboards, or customer portals.",
                },
                {
                    title: "API development and third-party integrations.",
                    description:
                        "We connect your website to other services and tools you use, like payment or document processors,or any other platforms, to automate your workflow.",
                },
                {
                    title: "AI powered chatbots",
                    description:
                        "We create custom AI chatbots for your website trained on your business information to handle common customer inquiries instantly, automatically, 24/7.",
                },
                {
                    title: "Domain & Hosting Setup.",
                    description:
                        "Helping clients register domains, set up hosting, and handle the technical DNS/email configurations.",
                },{
                    title: "Portfolio Websites.",
                    description:
                        "We create professional portfolio sites perfect for freelancers, creatives, and small businesses to showcase their work and attract new clients.",
                },
            ]}
        />

        <Hero
            heroType="textImage"
            client:visible
            data={{
                image: {
                    src: InfiniteImg1.src,
                    width: 590,
                    height: 300,
                    alt: "Hero Image",
                },
                title: "Transforming ideas into secure digital experiences!",
                paragraph:
                    "Let’s build something great together — your success is our priority.",
            }}
        />
    </main>
    <Footer />
</Layout>
